<?xml version="1.0" encoding="UTF-8"?>
<config>
<gameWindowHeight>420</gameWindowHeight>
<gameWindowWidth>640</gameWindowWidth>
<frameTitle>Dyna Blaster</frameTitle>
<defaultFps>60</defaultFps>
<playerHealth>3</playerHealth>
<enemyHealth>1</enemyHealth>
<enemySpeed>2</enemySpeed>
<pointsForEnemy>500</pointsForEnemy>
<pointsForPassingLevel>1000</pointsForPassingLevel>
<pointsForLife>1500</pointsForLife>
<gameTime>180</gameTime>
<defaultPlayerSpeed>2.5</defaultPlayerSpeed>
<tileWidth>32</tileWidth>
<tileHeight>32</tileHeight>
<fireXwidth>64</fireXwidth>
<fireXheight>32</fireXheight>
<fireYwidth>32</fireYwidth>
<fireYheight>64</fireYheight>
<fireBoostValue>16</fireBoostValue>
<timeToBoom>2500</timeToBoom>
<fireTimeOfLife>1429</fireTimeOfLife>

    <rulesText>        1.Sterowanie postacią za pomocą WASD, stawianie bomby spacją, pauza p, odpauzowanie o (należy przytrzymać przycisk ok 2sekundy)
        2.Celem jest znalezienia przejścia ukrytego pod jednym z brązowych bloków, jednocześnie unikając przeciwników
        3.Gracz ma 3 życia, gra kończy się po ich stracie, końcu czasu lub po przejściu wszystkich poziomów </rulesText>
</config>